/*DRAWER*/
.guestsDrawer {
  padding: 30px 15px;
}

.guestsDrawer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.guestsDrawer .closeButton {
  background-color: rgb(225 225 229);
  border-radius: 100px;
  padding: 8px;
  height: fit-content;
}

.guestsDrawer h1 {
  font-size: 36px;
}

.divider {
  height: 1px;
  background-color: #e5e7eb;
  margin-top: 20px;
}

/*GUEST SELECTION BUTTONS*/
.guestsSelection {
  margin-top: 50px;
}

.guestsSelection h2 {
  font-size: 12px;
  margin-bottom: 18px;
}

.guestButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.guestSelectionButtons {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.guestTypeWrapper {
  display: flex;
  flex-direction: column;
}

.guestType {
  margin-bottom: -6px;
}

.ageGap {
  font-size: 13px;
}

.plusMinusBtn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.plusMinusBtn button {
  background-color: #e2e2e2;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusMinusBtn p {
  border: solid 1px #e2e2e2;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minusBtn:disabled,
.plusBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.guestsDrawer .drawerSelectButton {
  position: absolute;
  bottom: 20px;
}
